
# gradle
/.gradle/
/build/
*/build/
*/*/build/

# maven
/target/
*/target/
*/*/target/

# idea
/.idea/
/out/
*/out/
*/*/out/
*.iml

# eclipse
/.settings/
/.project
/.classpath

# system
.DS_Store
Thumbs.db
