
############################################################################################################

## Application name & apollo app id & logback context name
app:
  id: springboot-demo

## Apollo
#apollo:
#  bootstrap:
#    ## Will inject 'application' namespace in spring bootstrap phase
#    enabled: true
#    ## Put apollo initialization before logging system initialization (e.g. logback.xml)
#    eagerLoad:
#      enabled: true
#    ## Namespaces
#    namespaces: application,mynamespace

## Spring
spring:
  application:
    name: ${app.id}
  ## default profile
  profiles:
    active: win
  ## import other yaml configs (springboot 2.4+ required)
  config:
    import:
      - classpath:springboot-admin.yaml
  ## Misc config
#  main:
#    allow-bean-definition-overriding: true
#    lazy-initialization: true
  ## Jackson config
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
    default-property-inclusion: non_null
  ## i18n message
  messages:
    basename: msg/messages
    encoding: UTF-8
  ## MVC config for web app
  mvc:
    view:
      prefix: /
      suffix: .html
  ## Multipart size
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  ## graceful shutdown, set wait timeout
  lifecycle:
    timeout-per-shutdown-phase: 60s
  ## Security, Optional, NOTE THAT if the authorization logic is customized (see SecurityConfiguration), this config will be invalid
#  security:
#    user:
#      name: "user"
#      password: "user"
  ## [Datasource 1] H2 (Do not exclude DataSourceAutoConfiguration!)
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:h2db1
#    url: jdbc:h2:file:./h2db/demo;DB_CLOSE_ON_EXIT=FALSE;AUTO_RECONNECT=TRUE
    username: sa
    password: sa
  sql:
    init:
      schema-locations: classpath:config/demo/mybatis/h2init/schema.sql
      data-locations: classpath:config/demo/mybatis/h2init/data.sql
      mode: always
  ## [Datasource 2] Mysql 8 (Do not exclude DataSourceAutoConfiguration!)
#  datasource:
#    driver-class-name: com.mysql.cj.jdbc.Driver
#    #In startup bat: spring.datasource.url="jdbc:mysql://..."
#    url: jdbc:mysql://127.0.0.1:3306/test?useUnicode=true&characterEncoding=utf-8&useSSL=false&allowPublicKeyRetrieval=true&cachePrepStmts=false&serverTimezone=Hongkong
#    username: test
#    password: test
#    initial-size: 5
#    min-idle: 5
#    max-idle: 50
#    max-active: 50
#    max-wait: 5000
#    validation-query: SELECT 1 FROM DUAL
  ## [Datasource 3] Mysql 5 (Do not exclude DataSourceAutoConfiguration!)
#  datasource:
#    driver-class-name: com.mysql.jdbc.Driver
#    #In startup bat: spring.datasource.url="jdbc:mysql://..."
#    url: jdbc:mysql://127.0.0.1:3306/test?useUnicode=true&characterEncoding=utf-8&useSSL=false
#    username: test
#    password: test
#    initial-size: 5
#    min-idle: 5
#    max-idle: 50
#    max-active: 50
#    max-wait: 5000
#    validation-query: SELECT 1 FROM DUAL
  ## [Datasource 4] Oracle (Do not exclude DataSourceAutoConfiguration!)
#  datasource:
#    driver-class-name: oracle.jdbc.OracleDriver
#    url: jdbc:oracle:thin:@127.0.0.1:1521:ORCL
#    username: sviolet
#    password: sviolet
#    initial-size: 5
#    min-idle: 5
#    max-idle: 50
#    max-active: 50
#    max-wait: 5000
#    validation-query: SELECT 1 FROM DUAL
  ## [Datasource 5] Oracle with org.apache.tomcat:tomcat-jdbc (Do not exclude DataSourceAutoConfiguration!)
#  datasource:
#    type: org.apache.tomcat.jdbc.pool.DataSource
#    driver-class-name: oracle.jdbc.driver.OracleDriver
#    url: jdbc:oracle:thin:@127.0.0.1:1521:ORCL
#    username: sviolet
#    password: sviolet
#    tomcat:
#      initial-size: 5
#      min-idle: 5
#      max-idle: 50
#      max-active: 50
#      max-wait: 10000
#      time-between-eviction-runs-millis: 30000
#      min-evictable-idle-time-millis: 1800000
#      validation-query: select 1 from dual
#      test-while-idle: true
#      test-on-borrow: true
  ## [Datasource 6] Mysql 8 + com.alibaba:druid-spring-boot-starter (Do not exclude DataSourceAutoConfiguration!)
#  datasource:
#    druid:
#      driver-class-name: com.mysql.cj.jdbc.Driver
#      url: jdbc:mysql://127.0.0.1:3306/test?useUnicode=true&characterEncoding=utf-8&useSSL=false&allowPublicKeyRetrieval=true&cachePrepStmts=false&serverTimezone=Hongkong
#      username: test
#      password: test
#      initial-size: 5
#      min-idle: 5
#      max-active: 50
#      max-wait: 5000
#      validation-query: SELECT 1 FROM DUAL
#      test-on-borrow: false
#      test-on-return: false
#      test-while-idle: true
#      time-between-eviction-runs-millis: 60000
#      min-evictable-idle-time-millis: 180000
  ## [Datasource 7] Multi-Datasource: Mysql 8 + com.alibaba:druid-spring-boot-starter (Do not exclude DataSourceAutoConfiguration!)
  ##               See --> DruidMultiDataSourceConfiguration
#  datasource:
#    druid:
#      datasource1:
#        driver-class-name: com.mysql.cj.jdbc.Driver
#        url: jdbc:mysql://127.0.0.1:3306/test?useUnicode=true&characterEncoding=utf-8&useSSL=false&allowPublicKeyRetrieval=true&cachePrepStmts=false&serverTimezone=Hongkong
#        username: test
#        password: test
#        initial-size: 5
#        min-idle: 5
#        max-active: 50
#        max-wait: 5000
#        validation-query: SELECT 1 FROM DUAL
#        test-on-borrow: false
#        test-on-return: false
#        test-while-idle: true
#        time-between-eviction-runs-millis: 60000
#        min-evictable-idle-time-millis: 180000
#      datasource2:
#        driver-class-name: com.mysql.cj.jdbc.Driver
#        url: jdbc:mysql://127.0.0.1:3306/test2?useUnicode=true&characterEncoding=utf-8&useSSL=false&allowPublicKeyRetrieval=true&cachePrepStmts=false&serverTimezone=Hongkong
#        username: test2
#        password: test2
#        initial-size: 5
#        min-idle: 5
#        max-active: 50
#        max-wait: 5000
#        validation-query: SELECT 1 FROM DUAL
#        test-on-borrow: false
#        test-on-return: false
#        test-while-idle: true
#        time-between-eviction-runs-millis: 60000
#        min-evictable-idle-time-millis: 180000
  ## H2 Console For Test, Set 'JDBC URL' to 'jdbc:h2:mem:h2db1' when login
#  h2:
#    console:
#      enabled: true
#      path: /h2-console
#      settings:
#        web-allow-others: true
  ## Force Http Encoding
#  http:
#    encoding:
#      enabled: true
#      charset: UTF-8
#      force: true
  ## Sentinel client, https://github.com/alibaba/spring-cloud-alibaba/wiki/Sentinel, DefaultLog: ${user.home}/logs/csp
#  cloud:
#    sentinel:
#      enabled: true
#      transport:
#        ## dashboard address
#        dashboard: localhost:60000
#        ## client will listen this port to receive control command, Port conflicts will automatically avoid
#        port: 60001
#        ## Used to let the dashboard find itself. For Linux environment, please set the host name and host IP if you want to get the client-ip automatically.
#        #client-ip: 127.0.0.1
#      #metric:
#        #file-single-size: 52428800
#        #file-total-count: 6
#      #log:
#        #dir: logs/
  ## Kafka: https://docs.spring.io/spring-kafka/docs/current/reference/html/#getting-started, 参数详见笔记
#  kafka:
#    bootstrap-servers: localhost:9092
#    consumer:
#      group-id: DemoConsumerGroup
#      auto-offset-reset: earliest
#      enable-auto-commit: true
#    listener:
#      concurrency: 1 # 默认消费者线程数, 注意Kafka不支持一个Partition被多线程并发消费, 分区数必须大于等于消费者线程数

############################################################################################################

## error translate
messages:
  error-code:
    basename: msg/error-code
  error-desc:
    basename: msg/error-desc

############################################################################################################

## Mybatis config
mybatis:
  mapper-locations: classpath:config/demo/mybatis/mapper/*.xml
  config-location: classpath:config/demo/mybatis/mybatis-config.xml

## Mybatis PageHelper config (com.github.pagehelper:pagehelper-spring-boot-starter)
pagehelper:
  reasonable: true
  support-methods-arguments: true
  params: count=countSql
  helper-dialect: h2
#  helper-dialect: oracle
#  helper-dialect: mysql

############################################################################################################

## Glacispring config
glacispring:
  common:
    servlet-context-listener-enabled: true
  ## Crypto property
  crypto-prop:
    key: rsa:classpath:config/demo/common/cryptoprop/cryptoprop-private-key.pem
#    key: aes:file:D:/__Temp/cryptoprop/cryptoprop-key.txt
#    key: aes:KrIjtliPM3MIlHPh+l3ylA==
#    intercept-by-proxy: true
  ## Http client
  httpclient:
    enabled: true
    apollo-support: true
  httpclients:
    qwen2vl:
      hosts: http://localhost:9999/v1/chat/completions
      initiative-inspect-interval: -1
      connect-timeout: 10000
      write-timeout: 60000
      read-timeout: 60000
      # 最大闲置连接数. 若设置为0(默认), 每次重新解析域名+重新建立连接, 性能差, 但支持动态域名解析. 若设置为正整数(例如16), 会复用连接池中的连接, 性能强, 但若DNS域名解析记录更新, 可能会向原IP发送请求.
      max-idle-connections: 16
    baidu:
      hosts: http://www.baidu.com
      initiative-inspect-interval: -1
#      http-get-inspector-url-suffix: /
      dns-description: ip=8.8.8.8|114.114.114.114,resolveTimeoutSeconds=5,preferIpv6=false,reportIntervalSec=60,stopUpdAftIdleSec=120
      # 最大闲置连接数. 若设置为0(默认), 每次重新解析域名+重新建立连接, 性能差, 但支持动态域名解析. 若设置为正整数(例如16), 会复用连接池中的连接, 性能强, 但若DNS域名解析记录更新, 可能会向原IP发送请求.
      max-idle-connections: 0
  ## Helpers
#  helper:
#    rocketmq:
#      namesrv: host1:9876;host2:9876
#      print-message-when-exception: true
#      print-message-when-reconsume: true
#      default-charset: UTF-8
#    ez-sentinel:
#      rule-data: classpath:config/demo/sentinel/rules.json

############################################################################################################

## RocketMQ config, rocketmq-spring-boot-starter, optional
## https://github.com/apache/rocketmq-spring
#rocketmq:
#  name-server: host1:9876;host2:9876
#  producer:
#    group: starter-producer
#    send-message-timeout: 30000
#    compress-message-body-threshold: 4096
#    max-message-size: 65535
#    retry-times-when-send-async-failed: 0
#    retry-next-server: true
#    retry-times-when-send-failed: 2

############################################################################################################

## Redis (Lettuce) config, optional
#redis:
#  enabled: true
#  uri: redis://127.0.0.1:6379
#  #uri: redis://host1:6379,redis://host2:6379,redis://host3:6379
#  #uri: redis://password@host1:6379,redis://password@host2:6379,redis://password@host3:6379
#  #uri: redis-sentinel://password@host1:26379,host2:26379,host3:26379/?sentinelMasterId=mymaster

############################################################################################################

## Log config
## Logback指定日志配置文件 (自定义的配置文件不要叫logback-test.xml/logback.xml, 它们会用默认方式初始化, 对Spring支持不好)
#logging:
#  config: classpath:/logback-my.xml

## Spring debug log
debug: false

############################################################################################################


#### 关于配置文件/配置参数的优先级 #############################################################################
### 说明 ####################################################################################################
#  1.yaml和yml一样
#  2.bootstrap配置文件: SpringCloud专属, 不可被覆盖; 在SpringCloud中, 有两种上下文(bootstrap父上下文/application子上下文),
#    bootstrap文件被前者加载, application被后者加载, 前者优先级高
### 优先级顺序 (最上面优先级最高, 同样的参数优先级高的生效) #######################################################
#  -Dxxx=xxx (启动参数)
#  ./config/bootstrap.yml (SpringCloud专属)
#  ./config/application.properties
#  ./config/application.yml
#  ./bootstrap.yml (SpringCloud专属)
#  ./application.properties
#  ./application.yml
#  classpath:config/bootstrap.yml (SpringCloud专属)
#  classpath:config/application.properties
#  classpath:config/application.yml (很奇怪如果放了config/application.yaml文件, IDEA会识别不了yaml, 导致编辑无提示)
#  classpath:bootstrap.yml (SpringCloud专属)
#  classpath:application.properties
#  classpath:application.yml
#  @PropertySource或PropertySourcesPlaceholderConfigurer加载的配置

