<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.shepherdviolet.webdemo.demo.mybatis.dao.UserDao">

    <insert id="insert" parameterType="com.github.shepherdviolet.webdemo.demo.mybatis.entity.User">
        INSERT INTO
        users
        <trim prefix="(" suffix=")" suffixOverrides=",">
            username, password, enabled,
            <if test="phone != null">
                phone,
            </if>
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            #{username, jdbcType=VARCHAR}, #{password, jdbcType=VARCHAR}, #{enabled, jdbcType=VARCHAR},
            <if test="phone != null">
                #{phone, jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="select" resultType="com.github.shepherdviolet.webdemo.demo.mybatis.entity.User">
        SELECT
        userid, username, password, enabled, phone
        FROM
        users
    </select>

</mapper>